:root {
  --primary-bg: #2b1a17; /* Głęboki brązowo-czerwony */
  --secondary-bg: #472926; /* Ciepłe tło sekcji */
  --tertiary-bg: #6a3b35; /* Tło kart */

  --primary-text: #fdf4f0; /* Jasny kremowy */
  --secondary-text: #e6c7c2; /* Ciepły róż/beż */

  --brand: #ff4c4c; /* Ciepły czerwony */
  --brand-hover: #ff8877; /* Jaśniejszy, zachęcający hover */

  --link: #ff6b6b; /* Linki */
  --link-hover: #ffc2b3; /* Hover */

  --app-max-width: 1140px;
}
